/* Funny quick and dirty hack, don't do this at home */
header,
nav,
footer {
  display: none;
}

app-login-page {
  display: flex;
  justify-content: center;
}

#login-page {
  width: 32em;
  margin-top: 10%;
  padding: 2em 2em;

  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: 8px;
}

#login-page,
#login-page > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: large;
}

mat-form-field {
  width: 24em;
}

.inline-form-buttons {
  margin-top: 1em;
  display: flex;
  gap: 1em;
}
