 <div id="login-page">
  <img src="/images/logo.png" />
  <p i18n>Welcome to YPC</p>
  <ng-container
    *ngIf="isAuthenticated | async; then loginSuccess else login">
  </ng-container>
</div>

<ng-template #login>
  <p class="error" *ngIf="this.loginForm.hasError('incorrect')" i18n>Error: Invalid login and/or password.</p>
  <form [formGroup]="loginForm" (submit)="this.login()">
    <mat-form-field [floatLabel]="'always'">
      <mat-label i18n>Email</mat-label>
      <input matInput type="text" formControlName="email" />
    </mat-form-field>
    <mat-form-field [floatLabel]="'always'">
      <mat-label i18n>Password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-hint><a class="forgot-password" i18n>Forgot password?</a></mat-hint>
    </mat-form-field>
    <div class="inline-form-buttons">
      <button mat-flat-button i18n>Login</button>
      <button mat-raised-button i18n>Register</button>
    </div>
  </form>
</ng-template>

<ng-template #loginSuccess>
  <p i18n>Logged in successfully.</p>
  <button mat-flat-button i18n (click)="goBack()">Go back</button>
</ng-template>