
:host {
    width: 100%;
    height: 3em;
    background-color: var(--mat-sys-primary-container);

    display: flex;
    align-items: center;
    box-shadow: var(--mat-sys-level1);
}

:host > a {
    padding: 1em 2em;
}

/* TODO: Use a proper selector */
:host * {
    color: var(--mat-sys-on-primary-container);
    
}
