<mat-card>
  <mat-card-header>
    <img mat-card-image [src]="src" (error)="setDefaultImage()" />
  </mat-card-header>
  <mat-card-content>
    <span>{{ product?.name }}</span>
    <p>{{ product?.salePrice | currency:'EUR' }}</p>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-actions>
      <a [routerLink]="['/product', product?.id]">
        <button mat-raised-button i18n>
          View
        </button>
      </a>
      <button mat-flat-button i18n (click)="addToCart()">Add to cart</button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
