:host {
    display: flex;
}

:host > * {
    padding: 1em 1em;
}

app-filter-sidebar {
    width: 296px;
}

.search-results {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
