<div class="filter-sidebar">
  <app-filter-sidebar
    (formSubmitted)="handleFormSubmission($event)"></app-filter-sidebar>
</div>
<ng-container *ngIf="this.results">
  <div class="search-results">
    <h3 i18n>Results</h3>
    <div class="product-cards">
      <app-product-card
        *ngFor="let result of this.results.page"
        [product]="result"></app-product-card>
    </div>
    <mat-paginator
      [pageIndex]="this.page"
      [pageSize]="this.pageSizeOptions[0]"
      [pageSizeOptions]="this.pageSizeOptions"
      [length]="results.resultCount"
      (page)="handlePageEvent($event)">
    </mat-paginator>
  </div>
</ng-container>