<div class="filter-sidebar">
  <app-filter-sidebar
    (formSubmitted)="handleFormSubmission($event)"></app-filter-sidebar>
</div>
<ng-container *ngIf="this.results">
  <div class="search-results">
    <h3 i18n>Results</h3>
    <app-product-grid [products]="(results | async)?.page"></app-product-grid>
    <mat-paginator
      [pageIndex]="this.page"
      [pageSize]="this.pageSizeOptions[0]"
      [pageSizeOptions]="this.pageSizeOptions"
      [length]="(results | async)?.resultCount"
      (page)="handlePageEvent($event)">
    </mat-paginator>
  </div>
</ng-container>