<ng-container *ngIf="productData">
    <div class="cart-list-item">
        <mat-list-item>
            <p matListItemTitle>
                <a
                    [routerLink]="['/product', productData.id]">{{productData.name}}</a>
            </p>
            <p matListItemLine>
                <span i18n>Unit price:</span> {{ item!.salePrice |
                currency:'EUR' }}
            </p>
        </mat-list-item>
        <div class="cart-list-item-options">
            <button mat-icon-button (click)="incr(-1)">
                <mat-icon>remove</mat-icon>
            </button>
            <span class="cart-list-item-qty">{{item!.qty}}</span>
            <button mat-icon-button (click)="incr(1)">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-button (click)="remove()">Remove</button>
        </div>
    </div>
</ng-container>