<ng-container *ngIf="this.product">
  <div class="product-details">
    <div class="product-images">
      <img src="/images/product/{{ product.id }}.webp" />
    </div>
    <div class="product-data">
      <h1>{{ product.name }}</h1>
      <h2>{{ product.salePrice | currency:'EUR' }}</h2>
      <div class="add-to-cart">
        <form>
          <mat-form-field>
            <input matInput type="number" min="1" max="{{product.stock}}"
              value="1">
          </mat-form-field>
          <button type="button" mat-fab extended>
            <mat-icon>shopping_cart</mat-icon>
            <ng-container i18n>Add to cart</ng-container>
          </button>
        </form>
      </div>
    </div>
    <div class="product-description">
      <h3 i18n>Description</h3>
      <p>{{ product.description }}</p>
    </div>
    <div class="product-attributes">
      <h3 i18n>Specifications</h3>
      <ul>
        <li *ngFor="let attribute of product.attributes">
          {{ attribute.name }}: {{ attribute | formatAttributeValues }}
        </li>
      </ul>
    </div>
  </div>
</ng-container>
