<ng-container *ngIf="this.product">
  <div class="product-details">
    <div class="product-images">
      <img src="/images/unknown-image.png" />
    </div>
    <div class="product-data">
      <h2>{{ product.name }}</h2>
    </div>
    <div class="product-description">
      <h3>Description</h3>
      <p>{{ product.description }}</p>
    </div>
    <div class="product-attributes">
      <h3>Specifications</h3>
      <ul>
        <li *ngFor="let attribute of product.attributes">
          {{ attribute.name }}: {{ attribute | formatAttributeValues }}
        </li>
      </ul>
    </div>
  </div>
</ng-container>
