:host > div {
    padding: 2em 8em;
}

.container--horizontal {
    justify-content: center;
    align-items: start;
}

.product-images img {
    height: 28em;
    width: 28em;
    object-fit: contain;
}

.add-to-cart form {
    display: flex;
    align-items: start;
    gap: 2em;
}

.add-to-cart button {
    height: 3.6em;
}

.product-attributes>ul>li {
    padding: 8px 0px;
}

mat-form-field {
    width: 6em;
}
