.product-details {
    display: grid;
    grid-template-columns:
        [one] 8% [two] auto [three] auto [four] 8%;
    grid-template-rows:
        [first] auto [second] auto [third] auto;

}

.product-images {
    grid-column-start: two;
    grid-column-end: two;
    grid-row-start: first;
    grid-row-end: second;
    justify-self: end;
    text-align: right;
}

.product-images img {
    width: 80%;
}

.product-data {
    grid-column-start: three;
    grid-column-end: three;
    grid-row-start: first;
    grid-row-end: second;
    justify-self: start;
    padding-top: 5%;
}

.add-to-cart form {
    display: flex;
    align-items: start;
    gap: 2em;
}

.add-to-cart button {
    height: 3.6em;
}

.product-description {
    grid-column-start: two;
    grid-column-end: four;
    grid-row-start: second;
    grid-row-end: third;
}

.product-attributes {
    grid-column-start: two;
    grid-column-end: four;
    grid-row-start: third;
    grid-row-end: third;
}

.product-attributes>ul>li {
    padding: 8px 0px;
}

mat-form-field {
    width: 6em;
}
