mat-card {
    max-width: 32em;
}

img {
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}