<form class="container--vertical" [formGroup]="form">
  <mat-form-field>
    <mat-label i18n>Street name</mat-label>
    <input matInput type="text" formControlName="streetName" />
  </mat-form-field>
  <div class="container--horizontal">
    <mat-form-field class="field--short">
      <mat-label i18n>Street number</mat-label>
      <input matInput type="number" formControlName="streetNumber" />
    </mat-form-field>
    <mat-form-field class="field--short" >
      <mat-label i18n>Floor</mat-label>
      <input matInput type="number" formControlName="floor" />
    </mat-form-field>
    <mat-form-field class="field--short" >
      <mat-label i18n>Door</mat-label>
      <input matInput type="text" formControlName="door" />
    </mat-form-field>
  </div>
  <div class="container--horizontal">
    <mat-form-field class="field--short" >
      <mat-label i18n>ZIP Code</mat-label>
      <input matInput type="text" formControlName="zipCode" />
    </mat-form-field>
    <mat-form-field class="field--grow" >
      <mat-label i18n>City</mat-label>
      <input
        #cityInput
        matInput
        type="text"
        formControlName="cityId"
        (input)="filterCities($event)"
        [matAutocomplete]="auto" />
      <mat-autocomplete
        #auto="matAutocomplete"
        [requireSelection]="true"
        [displayWith]="displayCity()">
        <mat-option *ngFor="let city of filteredCitySubject | async"
          [value]="city.id">
          {{ city.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <mat-form-field >
    <mat-label i18n>Province</mat-label>
    <mat-select formControlName="provinceId">
      <mat-option
        *ngFor="let province of provinceSubject | async"
        [value]="province.id">
        {{ province.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label i18n>Country</mat-label>
    <mat-select formControlName="countryId">
      <mat-option
        *ngFor="let country of countrySubject | async"
        [value]="country.id">
        {{ country.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="container--horizontal">
    <mat-slide-toggle labelPosition="before" formControlName="isDefault">Default
      address</mat-slide-toggle>
    <mat-slide-toggle labelPosition="before" formControlName="isBilling">Billing
      address</mat-slide-toggle>
  </div>
</form>
