:host {
    min-width: 18em;
}

form {
    display: flex;
    flex-direction: column;
    min-width: 18em;
}

mat-form-field {
    margin-bottom: 8px;
}

.inline-form-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inline-form-elements span.divider {
    position: relative;
    bottom: 12px;
}

.form-reset-submit {
    display: flex;
    justify-content: right;
    gap: 16px;
}

input.right-align::-webkit-outer-spin-button,
input.right-align::-webkit-inner-spin-button {
    display: none;
}

input.right-align {
    appearance: inherit;
    -moz-appearance: textfield;
    text-align: right;
}

mat-divider {
    margin: 8px 0px;
}

mat-slide-toggle span {
    margin-right: 1em;
}