<ng-container *ngIf="order">
    <mat-card appearance="outlined">
        <mat-card-content>
            <p i18n>ID: {{order.id}}</p>
            <p>Date: {{order.orderDate | date}}</p>
            Products:
            <ul>
                <li
                    *ngFor="let orderLine of order.orderLines">{{orderLine.productName}}
                    - Quantity: {{orderLine.quantity}} - Price:
                    {{orderLine.salePrice}}</li>
            </ul>
            <p>Total: {{order.totalPrice | currency:'EUR'}}</p>
        </mat-card-content>
    </mat-card>
</ng-container>