:host {
    display: flex;
    justify-content: center;
}

#registration-page {
    margin-top: 10%;
    padding: 4% 8%;

    border: 1px solid var(--mat-sys-outline-variant);
    border-radius: 8px;
}

#registration-page,
.registration-step,
.registration-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.registration-step {
    padding: 2em 0em;
}

.welcome-text {
    font-size: large;
}

mat-form-field {
    width: 20em;
}

mat-stepper {
    background-color: unset;
}

.inline-form-buttons {
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 1em;
}

mat-error, mat-hint {
    white-space: inherit;
    word-break: break-word; /* Ensures long words wrap properly */
  }