mat-drawer-container {
    min-height: 40em;
}

mat-drawer-container,
mat-drawer-content {
    background-color: var(--mat-sys-surface);
}

.dashboard-menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 40em;
}

.dashboard-menu > button {
    border-radius: 0px;
    padding: 2em 0em;
}

.dashboard-content {
    display: flex;
    flex-direction: column;
    padding: 0em 1em;
}