@use '@angular/material' as mat;

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

html {
  color-scheme: light;
  @include mat.theme((color: mat.$violet-palette,
      typography: Roboto,
      density: -1));
}

html.dark-mode {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  max-width: 1600px;
  margin: auto;
}

.error-text {
  color: var(--mat-sys-error);
}

/* Generic container styles */

.container--horizontal {
  display: flex;
  flex-direction: row;
  padding: 1em;
}

.container--vertical {
  display: flex;
  flex-direction: column;
  padding: 1em;
}